<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syameela.aushini">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aushini_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aushini_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash_scr"
            android:theme="@style/AuDefaultTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".introduction_scr"
            android:theme="@style/AuDefaultTheme" />
        <activity
            android:name=".welcome_scr"
            android:theme="@style/AuDefaultTheme" />
        <activity
            android:name=".register_scr"
            android:theme="@style/AuDefaultTheme_register.scr"></activity>
        <activity android:name=".question_scr"></activity>
    </application>

</manifest>